.d3 path {
  fill: none;
  stroke-width: 2
}

.d3 .line0 {
  stroke: steelblue;
}

.d3 .line1 {
  stroke: #ff7f0e;
}

.d3 .axis text {
  font: 10px sans-serif;
  fill: black;
}

.d3 .axis path,
.d3 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3 .bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.d3 .bar text {
  fill: #fff;
}

