.d3 path {
  fill: none;
  stroke-width: 2
}

.d3 .lineend_of_day_total {
  stroke: steelblue;
}

.d3 .labelcolorend_of_day_total {
  fill: steelblue;
}

.d3 .lineup_count {
  stroke: #d62728;
}

.d3 .labelcolorup_count {
  fill: #d62728;
}

.d3 .linefinished_count {
  stroke: #2ca02c;
}

.d3 .labelcolorfinished_count {
  fill: #2ca02c;
}

.d3 .linediff {
  stroke: black;
}

.d3 .labelcolordiff {
  fill: black;
}

.d3 .axis text, .d3 .label text{
  font: 10px sans-serif;
  fill: black;
}

.d3 .axis path,
.d3 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3 .trendline {
  fill: none;
  opacity: 0.5;
  stroke: #222222;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.d3 .zero {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  z-order: 999;
}


.d3 .bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.d3 .bar text.invert {
  fill: #000;
}

.d3 .bar text {
  fill: #fff;
}

